<%- include('head') %>
<ul>
  <% articles.forEach(function(article) { %>
    <li>
      <a href="articles/<%= article.id %>">
        <%=article.title %>
      </a>
    </li>
  <%}) %>
</ul>
<%- include('foot') %>
